/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";
.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #643D01;
    margin: 0px auto;
    padding: 20px 0px;
}

.jumbo {
    background-image: url('../static/images/background_image.jpeg');
    background-repeat: no-repeat;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: white;
}

body {
    padding-top: 50px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #643D01;
    color: floralwhite;
}

.modal .modal-header {
    background-color: #643D01;
    color: floralwhite;
}

.modal .modal-header .close {
    color: floralwhite;
}

.modal .modal-body {
    background-color: #AA8350;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(-100%);
    transition: all 300ms ease-out;
}

div.ReactTags__tags {
    position: relative;
}


/* Styles for the input */

div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 14px;
    width: 600px;
    border: 1px solid black;
    padding: 0 4px;
}


/* Styles for selected tags */

div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid black;
    background: brown;
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
    color: black;
    margin-left: 5px;
    cursor: pointer;
}